<h3>DefCore Capabilities</h3>

<!-- Capability Filters -->
<div class="row">
    <div class="col-md-4">
        <strong>Target Program:</strong>
        <span class="program-about"><a target="_blank" href="http://www.openstack.org/brand/interop/">About</a></span>
        <select ng-model="ctrl.targetProgram" ng-change="ctrl.updateVersions()" class="form-control">
            <option ng-repeat="targetProgram in ctrl.targetPrograms" value="{{targetProgram.targetProgram}}">{{targetProgram.description}}</option>
        </select>
    </div>
    <div class="col-md-3">
        <strong>Version:</strong>
        <select ng-model="ctrl.version" ng-change="ctrl.updateCapabilities()" class="form-control">
            <option ng-repeat="version in ctrl.versions" value="{{version}}">{{version}}</option>
        </select>
    </div>
</div>

<br />
<div ng-if="ctrl.capabilities">
    <strong>Guideline Status:</strong>
    {{ctrl.capabilities.status | capitalize}}
</div>

<div ng-show="ctrl.capabilities">
    <strong>Corresponding OpenStack Releases:</strong>
    <ul class="list-inline">
        <li ng-repeat="release in ctrl.capabilities.releases">
            {{release | capitalize}}
        </li>
    </ul>
</div>

<strong>Capability Status:</strong>
<div class="checkbox">
    <label>
    <input type="checkbox" ng-model="ctrl.status.required">
    <span class="required">Required</span>
    </label>
    <label>
    <input type="checkbox" ng-model="ctrl.status.advisory">
    <span class="advisory">Advisory</span>
    </label>
    <label>
    <input type="checkbox" ng-model="ctrl.status.deprecated">
    <span class="deprecated">Deprecated</span>
    </label>
    <label>
    <input type="checkbox" ng-model="ctrl.status.removed">
    <span class="removed">Removed</span>
    </label>
</div>
<!-- End Capability Filters -->

<p><small>Tests marked with <span class="glyphicon glyphicon-flag text-warning"></span> are tests flagged by DefCore.</small></p>

<!-- Loading animation divs -->
<div cg-busy="{promise:ctrl.capsRequest,message:'Loading capabilities'}"></div>

<!-- Get the version-specific template -->
<div ng-include src="ctrl.detailsTemplate"></div>

<div ng-show="ctrl.showError" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{ctrl.error}}
</div>
