<div ng-show="ctrl.cloudDetail" class="container-fluid">
    <div class="row">
        <div class="pull-left">
            <div class="test-report">
                <strong>Cloud ID:</strong> {{ctrl.cloud_id}}<br />
                <strong>Name:</strong> {{ctrl.cloudDetail.name}}<br />
                <strong>Description:</strong> {{ctrl.cloudDetail.description}}<br />
            </div>
        </div>
        <div class="pull-right">
            <div ng-show="ctrl.isEditingAllowed()">
                <button class="btn btn-warning" ng-hide="ctrl.isShared()" ng-click="ctrl.shareCloud(1)" confirm="Are you sure you want to share this cloud with the community?">Share</button>
                <button class="btn btn-success" ng-show="ctrl.isShared()" ng-click="ctrl.shareCloud(0)">Unshare</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" ng-show="ctrl.isEditingAllowed()">
    <hr>
    <div class="row">
        <div class="pull-left">
            <a ui-sref="cloudData({cloud_id: ctrl.cloud_id, data_type: 'config'})" target="_blank">View config</a><br />
            <a ui-sref="cloudData({cloud_id: ctrl.cloud_id, data_type: 'lastlog', partial: 1})" target="_blank">View last log</a><br />
        </div>
    </div>
</div>

<div class="container-fluid" ng-show="ctrl.isEditingAllowed()">
    <hr>
    <div class="col-md-3">
        <label for="cpid">New cloud config</label>
        <p class="input-group">
            <input type="file" oi-file="ctrl.configFile" id="configFile"/>
            {{ctrl.isConfigLoaded}}
        </p>
    </div>
    <div class="col-md-3"style="margin-top:24px;">
        <button type="submit" class="btn btn-primary" ng-click="ctrl.updateConfig()">Update</button>
    </div>
</div>

<!-- Capability Filters & Run -->
<div class="container-fluid" ng-show="ctrl.isEditingAllowed()">
    <hr>
    <div ng-show="ctrl.isEditingAllowed()" id="brun" ng-style="ctrl.cloudDetail.is_running ? {'display': 'none'} : {}">
        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.run({cloud_id: cloud_id})">Run with:</button>
            </div>
            <div class="col-md-4">
                <strong>Target Program:</strong>
                <span class="program-about"><a target="_blank" href="http://www.openstack.org/brand/interop/">About</a></span>
                <select ng-model="ctrl.targetProgram" ng-change="ctrl.updateVersions()" class="form-control">
                    <option ng-repeat="targetProgram in ctrl.targetPrograms" value="{{targetProgram.targetProgram}}">{{targetProgram.description}}</option>
                </select>
            </div>
            <div class="col-md-3">
                <strong>Version:</strong>
                <select ng-model="ctrl.version" ng-change="ctrl.updateCapabilities()" class="form-control">
                    <option ng-repeat="version in ctrl.versions" value="{{version}}">{{version}}</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <strong>Additional config items:</strong>
            </div>
            <div class="col-md-9">
                <textarea class="col-md-9" rows=7 ng-model="ctrl.add_config"></textarea>
            </div>
        </div>
    </div>
    <div class="row" ng-show="ctrl.isEditingAllowed()" id="bstop" ng-style="ctrl.cloudDetail.is_running ? {} : {'display': 'none'}">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-warning" ng-click="ctrl.stop({cloud_id: cloud_id})">Stop</button>
        </div>
    </div>
</div>

<!-- Loading animation divs -->
<div cg-busy="{promise:ctrl.capsRequest,message:'Loading capabilities'}"></div>

<div ng-show="ctrl.showError" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{ctrl.error}}
</div>
