<h3>User clouds</h3>

<div cg-busy="{promise:authRequest,message:'Loading'}"></div>
<div cg-busy="{promise:resultsRequest,message:'Loading'}"></div>

<div ng-show="data" class="clouds-table">
    <table ng-show="data" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Cloud name</th>
                <th>Description</th>
                <th>Action</th>
                <th>Config link</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="cloud in data.results">
                <td>{{cloud.name}}</td>
                <td>{{cloud.description}}</td>
                <td>
                  <button type="submit" class="btn btn-primary" ng-click="run({cloud_id: cloud.id})">Run</button>
                  <button type="submit" class="btn btn-primary btn-danger" ng-click="deleteCloud({cloud_id: cloud.id})" confirm="Are you sure you want to delete this cloud?">Delete</button>
                </td>
                <td>Cloud {{cloud.id}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Capability Filters -->
<div class="row">
    <div class="col-md-3"><strong>Parameters to run with:</strong></div>
    <div class="col-md-3">
        <strong>Version:</strong>
        <select ng-model="version" class="form-control">
            <!-- Slicing the version file name here gets rid of the '.json' file extension. -->
            <option ng-repeat="versionFile in versionList" value="{{versionFile}}">{{versionFile.slice(0, -5)}}</option>
        </select>
    </div>
    <div class="col-md-4">
        <strong>Target Program:</strong>
        <span class="program-about"><a target="_blank" href="http://www.openstack.org/brand/interop/">About</a></span>
        <select ng-model="target" class="form-control" ng-change="updateTargetCapabilities()">
            <option value="platform">OpenStack Powered Platform</option>
            <option value="compute">OpenStack Powered Compute</option>
            <option value="object">OpenStack Powered Object Storage</option>
            <option value="aws">Amazon EC2</option>
        </select>
    </div>
</div>

<hr/>

<div>
    <h4>Adding new cloud</h4>
    <div class="row">
        <div class="col-md-3">
            <label for="cpid">Name</label>
            <p class="input-group">
                <input type="text" class="form-control"
                    ng-model="name" close-text="Close" />
            </p>
        </div>
        <div class="col-md-3">
            <label for="cpid">Description</label>
            <p class="input-group">
                <input type="text" class="form-control"
                    ng-model="description" close-text="Close" />
            </p>
        </div>
        <div class="col-md-3">
            <label for="cpid">Cloud config</label>
            <p class="input-group">
                <input type="file" oi-file="configFile"/>
                {{isConfigLoaded}}
            </p>
        </div>
        <div class="col-md-3"style="margin-top:24px;">
            <button type="submit" class="btn btn-primary" ng-click="addCloud()">Add Cloud</button>
        </div>
    </div>
</div>


<div ng-show="showError" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
</div>

