<h3>Leader board</h3>

<!-- Capability Filters -->
<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-md-3">
            <strong>Capabilities Version:</strong>
            <select ng-model="ctrl.version" ng-change="ctrl.update()" class="form-control">
                <!-- Slicing the version file name here gets rid of the '.json' file extension -->
                <option ng-repeat="versionFile in ctrl.versionList" value="{{versionFile}}">{{versionFile.slice(0, -5)}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <strong>Target Program:</strong>
            <select ng-model="ctrl.target" class="form-control" ng-change="ctrl.update()">
                <option value="platform">OpenStack Powered Platform</option>
                <option value="compute">OpenStack Powered Compute</option>
                <option value="object">OpenStack Powered Object Storage</option>
                <option value="aws">Amazon EC2</option>
            </select>
        </div>
    </div>
</div>

<br/>
<div ng-show="ctrl.data" class="clouds-table">
    <table ng-show="ctrl.data" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cloud name</th>
                <th>Description</th>
                <th>Percent</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="cloud in ctrl.data.results" id="tr{{cloud.id}}">
                <td><a ui-sref="cloudDetail({cloud_id: cloud.id})">{{cloud.id}}</a></td>
                <td>{{cloud.name}}</td>
                <td>{{cloud.description}}</td>
                <td bgcolor="{{ctrl.coefToStyle(cloud.coef);}}">{{cloud.coef}}</td>
            </tr>
        </tbody>
    </table>
</div>


<div cg-busy="{promise:ctrl.authRequest,message:'Loading'}"></div>
<div cg-busy="{promise:ctrl.cloudsRequest,message:'Loading'}"></div>
<div cg-busy="{promise:ctrl.versionsRequest,message:'Loading'}"></div>

<div ng-show="ctrl.showError" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{ctrl.error}}
</div>

